
@{
    ViewBag.Title = "Admin";
}

@if (Session["UserID"] != null)
{
    <h3>Bienvenido @Session["Username"].ToString()</h3>

    <h5>Elija alguna opcion solo usted como administrador puede hacer ciertas funciones:</h5>
}
<button type="button" onclick="location.href = '@Url.Action("IngresoArchivo", "Tree")'">Cargar Archivo JSON</button>
<br />
<hr />
<button type="button" onclick="location.href = '@Url.Action("IngresoManual", "Tree")'">Carga Manual</button>
<br />
<hr />
<button type="button" onclick="location.href = '@Url.Action("EliminarAdmin", "Tree")'">Eliminar</button>
<br />
<hr />

<div>
    @Html.ActionLink("List the users", "Index")
</div>
<div>
    @Html.ActionLink("Sign off", "Login")
</div>¿3+  